html, body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
	background-color: #262626;
}

textarea {
  resize: none;
  width: 300px;
  height: 200px;
}

hr {
	width:70%;
	border-top: solid 0.01em #b2d2ff;
	margin-top: 100px;
	opacity: 0.5;
}


@font-face {
    font-family: cocogoose;
    src: url(../font/cocogoose.ttf);
}

#header{
	width: 100%;
	background-image: url("../images/bghead.jpg");
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 20px;
	box-sizing: border-box;
}

#bandeau_top{
	height: 150px;
	width: 100%;
	box-sizing: border-box;
	display: table;
}

#top_left{
	vertical-align: top;
	width: 50%;
	height: 150px;
	text-align: center;
	color: white;
	z-index: 9;
	display: table-cell;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.middle{
	font-family: cocogoose;
	vertical-align: baseline;
	position: relative;
	top: 35%;
	font-weight: bold;
	font-size: 20px;
}

.middle a{
	color: white;
	font-size: 14px;
	text-decoration:none; 
	font-weight: lighter;
}

#top_right{
	vertical-align: top;
	width: 50%;
	height: 150px;
	text-align: left;
	color: white;
	z-index: 9;
	display: table-cell;
	padding-left: 30px;
	box-sizing: border-box;
}

.espaceur{
	margin-left: 15px;
}

.espaceur-alt{
	margin-left: 5px;
}

#bandeau_bas{
	height: 450px;
	width: 100%;
	box-sizing: border-box;
	display: table;
	z-index: 15;
	text-align: center;
	color: white;
	vertical-align: middle;
}

.question{
	margin-top: 50px;
	font-size: 28px;
	display: block;
}

.answer{
	margin-top: 50px;
	font-size: 70px;
	font-weight: bold;
	display: block;
}

.button a{
	margin-top: 50px;
	font-size: 20px;
	display: block;
	border: solid 2px white;
	padding: 15px;
	border-radius: 5px;
	width: 200px;
	margin-left: auto;
	margin-right: auto;
	font-weight: bold;
	color: white;
	text-decoration:none; 
}

.body{	
	width: 100%;
	text-align:center;
	display:inline-block;
	box-sizing: border-box;
	background-color: white;
	padding-top: 50px;
	padding-bottom: 50px;
}

.bodyAlt{	
	width: 100%;
	text-align:center;
	box-sizing: border-box;
	display:inline-block;
	background-color: #F5F5F5;
	padding-top: 50px;
	padding-bottom: 50px;
}

.twotier{
	box-sizing: border-box;
	max-width: 550px;
	display: inline-block;
	vertical-align: top;
	text-align:center;
	padding: 15px;
}

p{
	color: #767676;
	text-align: justify;
}

h1{
	font-weight: normal;
	font-size: 50px;
}

h2{
	margin-bottom: 0px;
}

@media screen and (min-width: 933px) {
	 .onetier{
		box-sizing: border-box;
		vertical-align: top;
		padding-top: 45px;
		display: inline-block;
		margin-left: 55px;
	}
}

@media screen and (max-width: 933px) {
	 .onetier{
		display: none;
	}
}

@media screen and (min-width: 933px) {
	 .onetierAlt{
		box-sizing: border-box;
		display: inline-block;
		vertical-align: top;
		padding-top: 45px;
		text-align: right;
		margin-right: 55px;
	}
}

@media screen and (max-width: 933px) {
	 .onetierAlt{
		display: none;
	}
}

.twotierAlt{
	box-sizing: border-box;
	max-width: 550px;
	display: inline-block;
	vertical-align: top;
	text-align:center;
	padding: 15px;
}

.sidePartLeft{
	box-sizing: border-box;
	display: inline-block;
	max-width: 800px;
	vertical-align: top;
}

.sidePartRight{
	box-sizing: border-box;
	display: inline-block;
	max-width: 800px;
	vertical-align: top;
}

.element{
	margin-top: 15px;
	max-width: 500px;
	box-sizing: border-box;
}

.icon{
	margin-top: 20px;
	vertical-align: top;
	box-sizing: border-box;
	display: table-cell;
	width: 25%;
}

@media screen and (max-width: 540px) {
	 .icon{
		display: none;
	}
}

.textContent{
	box-sizing: border-box;
	display: table-cell;
	width: 75%;
	padding: 15px;
}

.elementAlt{
	margin-top: 15px;
	max-width: 500px;
	box-sizing: border-box;
}

.pcenter{
	text-align: center;
	width: 100%;
}

.pcenter h1{
	margin-bottom: 0;
}

.pcenter p{
	margin-top: 0;
	font-weight: bold;
	text-align: center;
}

.clients{
	display: table;
	box-sizing: border-box;
	margin-left: auto;
	margin-right: auto;
}

.client_photo{
    overflow:hidden;
    -webkit-border-radius:120px;
    -moz-border-radius:120px;
    border-radius:120px;
    width:200px;
    height:200px;
	display: inline-block;
	vertical-align: top;
	margin-right: 30px;
}

.citation {
	display: inline-block;
	position: relative;
	margin-top: 35px;
	margin-left: 15px;
	margin-right: 15px;
	max-width: 580px;
	background: #FFFFFF;
	border-radius: 0px;
	border: #7E7F7F solid 1px;
	vertical-align: middle;
	padding: 0px 50px 0 50px;
	font-size: 25px;
}

.citation:after {
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 15px 15px 15px 0;
	border-color: transparent #FFFFFF;
	display: block;
	width: 0;
	z-index: 1;
	left: -15px;
	top: 53px;
}

.citation:before {
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 15px 15px 15px 0;
	border-color: transparent #7E7F7F;
	display: block;
	width: 0;
	z-index: 0;
	left: -16px;
	top: 53px;
}

@media screen and (max-width: 909px) {
	 .client_photo{
		display: none;
	}
	.citation:after{
		display: none;
	}
	.citation:before{
		display: none;
	}
}

.auteur{
	color: #1255BD;
	font-size: 15;
	margin-top: -15px;
}

.citationAlt {
	display: inline-block;
	position: relative;
	margin-top: 35px;
	margin-left: 15px;
	margin-right: 15px;
	max-width: 580px;
	background: #FFFFFF;
	border-radius: 0px;
	border: #7E7F7F solid 1px;
	vertical-align: middle;
	padding: 0px 50px 0 50px;
	font-size: 25px;
}

.citationAlt:after {
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 15px 0 15px 15px;
	border-color: transparent #FFFFFF;
	display: block;
	width: 0;
	z-index: 1;
	right: -15px;
	top: 53px;
}
.citationAlt:before {
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 15px 0 15px 15px;
	border-color: transparent #7F7F7F;
	display: block;
	width: 0;
	z-index: 0;
	right: -16px;
	top: 53px;
}

.client_photo_alt{
    overflow:hidden;
    -webkit-border-radius:120px;
    -moz-border-radius:120px;
    border-radius:120px;
    width:200px;
    height:200px;
	display: inline-block;
	vertical-align: top;
	margin-left: 30px;
}

@media screen and (max-width: 909px) {
	 .client_photo_alt{
		display: none;
	}
	.citationAlt:after{
		display: none;
	}
	.citationAlt:before{
		display: none;
	}
}

.logoCenter{
	width: 100%;
	text-align: center;
	vertical-align: middle;
	filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
}

.body_black{
	height: 400px;	
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	box-sizing: border-box;
	display: table;
	padding-bottom: 50px;
	padding-top: 50px;
	background-color: black;
}

.pcenterF{
	text-align: center;
	width: 100%;
	margin-bottom: 75px;
}

.pcenterF h1{
	margin-bottom: 0;
	color: white;
}

.pcenterF p{
	margin-top: 0;
	font-weight: bold;
	text-align:center;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1060px;
  text-align:center;
  margin-right: auto;
  margin-left: auto;
}

.flex-container > div {
 text-align: center;
 color: white;
 margin-right: auto;
 margin-left: auto;
 margin-bottom: 35px;
}

.team_photo{
    overflow:hidden;
    -webkit-border-radius:120px;
    -moz-border-radius:120px;
    border-radius:120px;
    width:200px;
    height:200px;
	display: inline-block;
	vertical-align: top;
	border: solid 5px white;
}

.nom-gras{
	padding-top: 20px;
	padding-bottom: 10px;
	font-weight: bold;
	font-size: 18px;
}

.prof{
	font-weight: light;
}

.social-stuff{
	margin-top: 10px;
}

.rounded{
	-webkit-border-radius:120px;
    -moz-border-radius:120px;
    border-radius:120px;
	border: solid 3px white;
}

.bigger{
	width: 25px;
	font-size: 25px;
	padding: 5px;
}

.smaller{
	font-size: 21px;
	padding: 8px 6px 8px 6px;
}

.low-team{
	color: white;
	text-align: justify;
    text-align-last: center;
	padding-top: 35px;
	line-height: 25px;
	padding: 15px;
}

.body_blue{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	box-sizing: border-box;
	display: table;
	padding-bottom: 15px;
	padding-top: 15px;
	background-color: rgb(118,143,197);
	text-align:center;
}

.flex-container-alt {
	display:inline-block;
}

#contact{
	display:inline-block;
	color: white;
	padding-left: 40px;
	max-width: 600px;
	vertical-align:top;
	text-align: left;
	padding:15px;
}

#contact h1{
	margin: 0;
	padding: 0;
}

#contact p{
	color: white;
	font-size: 17px;
	display:inline-block;
}


#form{
	display:inline-block;
	text-align: center;
	max-width: 600px;
	vertical-align:top;
}

#form input, textarea{
  width: 85%;
  padding: 15px 15px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  color: grey;
}


.contact-container{
	display:inline-block;
	max-width: 700px;
	margin-top: 40px;
	text-align:center;
}

.half-contact{
	display:inline-block;
	box-sizing: border-box;
	text-align:left;
	vertical-align:top;
}

.element-contact{
	font-size: 20px;
	margin-bottom: 35px;
}

.icon-contact{
	font-size: 30px;
	padding-right: 10px;
	margin-top: -3px;
	vertical-align: middle;
	width: 35px;
	text-align: center;
}

#footer{
	margin-top: 30px;
	color: white;
	text-align: center;
}